<div class="shearch">
  <app-buscador></app-buscador>
</div>
<div class="row m-4">
  <div class="actor-details float-left  col-2">
    <img
      class=""
      src="{{ actor.imagen }}"
      alt="{{ actor.nombre }} image"
    />
  </div>
  <div class=" m-2 col-4">
    <h2>Nombre: {{ actor.nombre }}</h2>
    <div *ngIf="!actor.vivo; esle elseBlock">
      <p>Edad: {{ actor.edad }} (fallecido)</p>
    </div>
    <p #elseBlock>Edad: {{ actor.edad }}</p>
    <p>Nacionalidad: {{ actor.nacionalidad }}</p>
  </div>  
  <div class="col-4">
    <app-player [video]="actor.clip"></app-player>
  </div>  
</div>

