<div class="shearch">
  <app-buscador></app-buscador>
</div>
<div class="row m-5 ">
  <div class="actor-details">
    <img
      class="float-left col-3"
      src="{{ actor.imagen }}"
      alt="{{ actor.nombre }} image"
    />
    <h2>Nombre: {{ actor.nombre }}</h2>
    <div *ngIf="!actor.vivo; esle elseBlock">
      <p>Edad: {{ actor.edad }} (fallecido)</p>
    </div>
    <p #elseBlock>Edad: {{ actor.edad }}</p>
    <p>Nacionalidad: {{ actor.nacionalidad }}</p>

   <!-- poner el video component recibiendo variables -->
    </div>
</div>
